*{
  box-sizing: border-box;
}
.cards-container{
  text-align: center;
  font-size: 24px;
}

.card-wrapper{ 
  --img-size: 150px;
  --main-bg-color: rgb(44, 179, 184);
  display: inline-block;
  min-width: calc(var(--img-size)*2);
  width: 100%;
  max-width: calc(var(--img-size)*3);
  border: 1px solid var(--main-bg-color);
  /* text-align: center; */
  font-size: 0.8em;
}
.bg-header{
  height: calc(var(--img-size)*1.5);
  background-color: var(--main-bg-color);
}
.card-content{
  padding: 0 20px;
}

.photo-profile{
 width: var(--img-size);
 height: var(--img-size);
 padding: 5px;
 border: 1px solid #cccccc;
 border-radius: 70px;
 margin-top: calc(var(--img-size)*-0.5);
 object-fit: cover;
 object-position: top center; 
 background-color:#ffffffff;
}

.btn-cotainer{
  border-top: 1px solid#cccccc;
  border-bottom: 1px solid#cccccc;
  padding: 15px 0;
  height: 60px; 
}

.icone-map{
  width: calc(var(--img-size)*0.15);
  height: calc(var(--img-size)*0.15);
}
.full-name-profille{
  margin: 20px 10px 10px 10px;
}
.capitalize{
  text-transform: capitalize;
}
.address-profile{
  margin: 0px 20px 20px 20px;
}
.btn {
  cursor: pointer;
  border:none;
  background-color: var(--main-bg-color);
}
.follow{
  background-color: rgb(122, 192, 122);
}

.description-profile{
  margin: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-footer{
  /* height: 50px; */
  background-color:var(--main-bg-color);
  padding: 10px;
}

.link-social{
  display: block;
  width: 36px;
  height: 36px;
}
.card-item-social{
  display: inline-block;
  height: 30px;
  width: 60px;
}

.icon-fb{
  background-image: url(./../icons/facebook-logo.png);
  background-size: contain;
}
.icon-google{
  background-image: url(./../icons/google.png);
  background-size: contain;
}
.icon-twitter{
  background-image: url(./../icons/twitter.png);
  background-size: contain;
}